<table class="table-auto">
  <thead>
    <tr>
      <th class="px-4 py-2">制度名</th>
      <th class="px-4 py-2">申込期限</th>
      <th class="px-4 py-2">公式サイト</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% conditions_supports.each do |conditions_support| %>
      <tr>
        <td class="border px-4 py-2"><%= link_to "#{conditions_support.support.support_name}", top_path(conditions_support.support) %></td>
        <td class="border px-4 py-2">
          <% if conditions_support.support.application_limit.empty? %>
            <%= "なし" %>
          <% else %>
            <%= conditions_support.support.application_limit %>
          <% end %>
        </td>
        <td class="border px-4 py-2"><%= link_to "公式サイト", conditions_support.support.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
