<section class="bg-white dark:bg-gray-900 w-full">
  <section class="bg-yellow-200 w-full">
    <div>
        <%= image_tag('top_image.png',class: "w-screen bg-cover") %>
    </div>
    <div class="px-6 py-10 mx-10">
      <p class="text-yellow-700 font-bold text-5xl text-center">KOCOTTOって？</p>
        <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 grid-cols-3">
            <div class="space-y-3">
                <span class="inline-block p-3 text-yellow-700 bg-blue-100 rounded-full dark:text-white dark:bg-blue-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                    </svg>
                </span>
                <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">あなたにあった制度をまとめて検索できる</h1>
                <p class="text-gray-500 dark:text-gray-300">
                  気になる情報を検索<br>プロフィール登録すると、自分に合った支援を教えてくれる！
                </p>
                <a href="#" class="inline-flex items-center -mx-1 text-sm text-blue-500 capitalize transition-colors duration-300 transform dark:text-blue-400 hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                    <span class="mx-1">read more</span>
                    <svg class="w-4 h-4 mx-1 rtl:-scale-x-100" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
            <div class="space-y-3">
                <span class="inline-block p-3 text-yellow-700 bg-blue-100 rounded-full dark:text-white dark:bg-blue-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                    </svg>
                </span>
                <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">あなたがもらえる金額が分かる</h1>
                <p class="text-gray-500 dark:text-gray-300">
                    検索項目に合わせて自動的に支援で受け取ることができる金額が分かる！
                </p>
                <a href="#" class="inline-flex items-center -mx-1 text-sm text-blue-500 capitalize transition-colors duration-300 transform dark:text-blue-400 hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                    <span class="mx-1">read more</span>
                    <svg class="w-4 h-4 mx-1 rtl:-scale-x-100" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
            <div class="space-y-3">
                <span class="inline-block p-3 text-yellow-700 bg-blue-100 rounded-full dark:text-white dark:bg-blue-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                    </svg>
                </span>
                <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">あなたが必要な書類が作成できる</h1>
                <p class="text-gray-500 dark:text-gray-300">
                    プロフィール登録の情報に合わせて申請書類を作成してくれる！
                </p>
                <a href="#" class="inline-flex items-center -mx-1 text-sm text-blue-500 capitalize transition-colors duration-300 transform dark:text-blue-400 hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                    <span class="mx-1">coming soon</span>
                    <svg class="w-4 h-4 mx-1 rtl:-scale-x-100" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
        <div class="mt-16 text-center">
          <%= link_to  "やってみよう！", top_index_path, class: "py-2 px-4 bg-orange-300 hover:bg-orange-200 focus:ring-orange-500 focus:ring-offset-orange-200 text-yellow-700 transition ease-in duration-200 text-center font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg inline-block w-1/4 text-2xl"%>
        </div>
    </div>
  </section>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#fef9c3" fill-opacity="1" d="M0,96L48,122.7C96,149,192,203,288,197.3C384,192,480,128,576,106.7C672,85,768,107,864,149.3C960,192,1056,256,1152,256C1248,256,1344,192,1392,160L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
  </svg>
  <section>
    <p class="text-yellow-700 font-bold text-5xl text-right pr-10">わたしたちって？</p>
    <p class="text-yellow-700 font-bold text-xl text-right pr-10 pt-5 mb-0">東京都知事ハッカソンで初W受賞しました。</p>
    <div class="flex">
      <div>
        <iframe class="pl-10" width="500" height="300" src="https://www.youtube.com/embed/BzzQ6SJuSbg?start=60" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <!--iframe width="250" height="150" src="https://www.youtube.com/embed/cYivWAMLeJo?start=10546" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></-iframe-->
      </div>
      <div class="pr-10 px-5 w-full text-right">
        <div class="pl-5 pb-5">
        　<p class="text-xl">参加者63組の中からFinalステージ出場</p>
          <p class="text-xl pl-5">審査員特別賞 行政ニーズ賞</p>
          <p class="text-xl pl-5">オーディエンス賞</p>
        </div>
        <div class="pl-5 text-base">
          <p>子育てをしているひとり親は<span class="text-yellow-700 font-bold">ひとりじゃない</span>。</p>
          <p>そんな思いで集まった7個のエンジニアの卵。</p>
        </div>
        <div class="text-right p-10">
        <%= link_to  "のぞいてみる？","https://odhackathon.metro.tokyo.lg.jp/result/", class: "py-2 px-4 bg-orange-300 hover:bg-orange-200 focus:ring-orange-500 focus:ring-offset-orange-200 text-yellow-700 transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg w-1/4 text-2xl"%>
        </div>
      </div>
    </div>
  </section>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#ffedd5" fill-opacity="1" d="M0,256L34.3,234.7C68.6,213,137,171,206,138.7C274.3,107,343,85,411,85.3C480,85,549,107,617,128C685.7,149,754,171,823,192C891.4,213,960,235,1029,213.3C1097.1,192,1166,128,1234,117.3C1302.9,107,1371,149,1406,170.7L1440,192L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path>
  </svg>
  <section class="bg-orange-200">
    <!--p class="text-yellow-700 font-bold text-3xl">みんなの声</-p-->
  </section>
</section>
