<div class="mx-5 my-10">
  <div class="text-left mt-10">
    <p class="text-5xl text-center">プライバシーポリシー</p>
    OYAKODON（以下，「当社」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。
  </div>
</div>