<div class="mx-5 my-10">
  <div>
    <p>ひとりおやは、ひとりじゃない。</p>
    <%= image_tag('top_image.png') %>
  <div>
  <div>
    <p>KOCOTTOって？</p>
    <div>
      <p>あなたにあった制度をまとめて検索できる</p>
      <p>HOW TO</p>
      <p>気になる情報を検索<br>
      プロフィール登録すると、自分に合った支援を教えてくれる！</p>
    </div>
    <div>
      <p>あなたにあった制度をまとめて検索できる</p>
      <p>HOW TO</p>
      <p>気になる情報を検索<br>
      プロフィール登録すると、自分に合った支援を教えてくれる！</p>
    </div>
  </div>
</div>
